<p id="notice"><%= notice %></p>

<p>
  <strong>Expense type:</strong>
  <%= @expense.expense_type %>
</p>

<p>
  <strong>Expense content:</strong>
  <%= @expense.expense_content %>
</p>

<p>
  <strong>Expense cost:</strong>
  <%= @expense.expense_cost %>
</p>

<p>
  <strong>Purchaser name:</strong>
  <%= @expense.purchaser_name %>
</p>



<%= link_to 'Edit', edit_expense_path(@expense) %> |
<%= link_to 'Back', expenses_path %>
